<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/header :: header"></div>
<h3>Создать задачу</h3>
<form th:action="@{/tasks/create}" method="post">
    <div class="mb-3">
        <label>Название</label>
        <input type="text" name="title" class="form-control" required>
    </div>
    <div class="mb-3">
        <label>Описание</label>
        <textarea name="description" class="form-control" rows="5"></textarea>
    </div>
    <button class="btn btn-success">Создать</button>
</form>
<div th:replace="fragments/footer :: footer"></div>
</html>